matplotlib==3.9.2
numpy==2.1.2
openai==1.51.1
scipy==1.14.1
tqdm==4.66.5
transformers==4.45.2
bitsandbytes==0.42.0
python-dotenv==1.0.1
langgraph==0.2.35
langchain-openai==0.2.2
langchain-community==0.3.2
scikit-learn==1.5.2